/* Mobile && Tablet */

@media(max-width: 1023px){
    
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px){
    .post{
        margin-bottom: 6px;
        width: 33.3333%;
    }
    
    .post__wrap{
        width: 100%;
        height: 0;
        padding: 0 12px;
        padding-bottom: 100%;
    }
    
    .post__img{
        width: 100%;
        height: 0;
        object-fit: cover;
    }
    .header__navbar-search-input{
        width: unset;
    }
}

/* Mobile */

@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }

    


    .main-header__content-wrap-out-img{
        width: 84px;
        height: 84px;
    }

    .main-header__content img{
        width: 77px;
        height: 77px;
    }

    .main-header__info-wrap-top{
        flex-wrap: wrap;
    }
    .main-header__info-name{
        flex: 100%;
        margin-bottom: 20px;
    }

    .main-header__info-wrap-mid{
        margin-top: 10px;
    }
    .main-header__contact{
        transform: translateX(-35%);
    }
    .main-header__contact-item{
        padding: 1px 0;
    }

    .navbar__activity-menu{
        width: 100vw;
        height: 50vh;
        right: -58px;
    }

    .highlight__list {
        height: 154px;
        width: 100%;
        padding: 5px 20px;
        margin-left: -40px;
    }

    .highlight__item {
        width: unset;
        padding: 10px 16px;
    }

    .highlight__item-img{
        width: 62px;
        height: 62px;
    }

    .highlight__item-image{
        width: 58px;
        height: 58px;
    }
    .highlight__item-name{
        font-size: 1rem;
    }

    .mobile-follow{
        display: flex;
    }

    .content__heading{
        margin: 0 -20px;
    }

    .content__bar{
        margin: 0;
        padding: 0;
        right: 0;
    }

    .content__bar-list {
        width: 100%;
        justify-content: space-between;
    }
    .content__bar-item-name-icon{
        transform: scale(1.5);
    }

    .content__bar-item{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
        width: 100%;
        line-height: 5.2rem;
    }
    
    .content__bar-item-active .content__bar-item-name{
        color: var(--text-color) ;
    }
    
    .content__bar-item-active{
        position: relative;
    }

    .content__bar-item.content__bar-item-active::after{
        content: " ";
        top: -1px;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid black;
        position: absolute;
    }

    .main-content{
        margin: 0 -18px;
    }

    .post{
        margin-bottom: 0;
    }
    
    .post__wrap{
        width: 100%;
        height: 0;
        padding: 0 2px;
        padding-bottom: 100%;
    }
    
    .post__img{
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .post__img::before{
        top: 0;
        right: 2px;
        left: 2px;
        bottom: 4px;
    }

    .post__wrap-interac-list {
        font-size: 1.2rem;
    }

    .post__wrap-like{
        margin-right: 15px;
    }

}

